.sidebar{
    flex:1;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    background-color: white;

    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .avatar{
                   width: 25px;
                   height: 25px; 
                   border-radius: 50%;
                   padding-left: 5px;
                   margin-right: 0;
                   padding-right: 0;
                   margin-left: 15px;
                }
        }
        }
    }
    hr{
        height: 0;
        border: 0.5px solid lightgray;
    }
    .center{
        padding-left: 10px;
        padding-right: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-size: 12px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 10px;
                border: 1pt solid #dad9d9;
                border-radius: 5%;
                padding: 4px 2px 2px 4px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                position: relative;

                &:hover{
                    background-color: #ddddddc3;
                }

                .icon{
                    font-size: 20px;
                    color: black;
                }
                .teamcnt{
                    display: flex;
                    align-items: center;
                }
                .addTeam{
                    color: rgb(137, 137, 137);
                    margin-right: 2px;
                    &:hover{
                        color:white
                    }
                }
                .addTeamicon{
                    font-size: 20px;
                    color: rgb(137, 137, 137);
                    
                    &:hover{
                        color:white
                    }
                
                }
                span{
                    font-size: 15px;
                    font-weight: 600;
                    color: rgb(137, 137, 137);
                    margin-left: 10px;
                    
                }
                .btn{
                    background-color: black;
                    color: white;
                    border: none;
                    font-size: small;
                    border-radius: 5px;
                    padding: 5px;
                    position: absolute; 
                    right: 10px; 
                    cursor: pointer;
                }
            }
            .usefuls{
                border: 1px solid #dad9d9;
                border-radius: 5%;
                padding: 4px 2px 2px 4px;
            }
            .subBtn{
                border: none;
                padding: 5px;
                color: gray;
                background: none;
                margin-top: 5px;
                
                
                div{
                    display: flex;
                    align-items: center;    
                    font-weight: 600;
                    font-size: 15px;
                    padding-left: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-right: 42px;
                    margin-top: 2px;
                    cursor: pointer;
                    

                    &:hover{
                        background-color: #ddddddc3;
                        color: white;
                    }
                }
            }
            .trial{
                background-color: #b7b7b7;
                border-radius: 5px;
                padding: 5px;
                padding-bottom: 10px;
                
                &:hover{
                    background-color: #d2d2d2;
                }
                span{
                    color: white;
                    font-size: smaller;
                }
            }
        } 
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            
            &:nth-child(2){
                background-color: #333; 
            }
            
        }
    }


}